<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="utf-8"> 
<meta name="viewport"
		content="width=device-width, 
				initial-scale=1, 
				shrink-to-fit=no"> 
<title> 
	load data from json file 
	into a bootstrap table 
</title> 

<!-- Include Bootstrap for styling -->
<link rel="stylesheet"
		href= 
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 

<!-- Include the Bootstrap Table CSS 
for the table -->
<link rel="stylesheet"
		href= 
"https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css"> 
</head> 
<body> 
<div class="container"> 
	<h1 class="text text-success text-center "> 
	Ankaios Cluster 
	</h1> 
	<h6 class="text text-success text-center"> 
	Overview of Ankaios Containers
	</h6>
	<form method="POST" enctype="multipart/form-data" >
		<table class="table-striped border-success" style="width:100%"> 
			<thead> 
			<tr> 
				<th data-field="id"> 
				<span class="text-success"> 
					Cluster ID
				</span> 
				</th> 
				<th data-field="date"> 
				<span class="text-success"> 
					Agent Name
				</span> 
				</th> 
				<th data-field="date"> 
				<span class="text-success"> 
					Workload Name
				</span> 
				</th> 
				<th data-field="date"> 
				<span class="text-success"> 
					Workload Version
				</span> 
				</th> 
				<th data-field="date"> 
				<span class="text-success"> 
					Update Cluster
				</span> 
				</th> 
			</tr>
			{% for vehicle_id,cluster_data_list in active_vehicle_dynamics.items %}
				{% for agent_name,agent_data in cluster_data_list.0.workload_states.items %}
					{% for workload_name,workload_data in agent_data.items %}
						{% for workload_version,workload_version_data in workload_data.items %}
						<tr>
							<td>{{vehicle_id}}</td>
							<input type="hidden" name="vehicle_id" value={vehicle_id}}/>
							<td>{{agent_name}}</td>
							<input type="hidden" name="agent_name" value={{agent.agent_name}}/>
							<td>{{workload_name}}</td>
							<input type="hidden" name="workload_name" value={{workload_name}}/>
							<td>{{workload_version}}</td>
							<input type="hidden" name="workload_version" value={{workload_version}}/>
							{% if forloop.parentloop.parentloop.first %}
							<td>
								<input type="checkbox" title="update" id=update_{{agent.agent_id}}_{{workload.workload_name}}/>
							</td>
							{% endif %}
						</tr>
						{% endfor %}
					{% endfor %}
				</tr>
				{% endfor %}
			{% endfor %}
			</thead>
		</table>
		
		{% csrf_token %}
    	{{file_upload_form.as_p}}
		<button type="submit" value="Submit">Submit</button>
	</form>
</div> 
<script src= 
"https://code.jquery.com/jquery-3.3.1.min.js"> 
  </script> 
  <script src= 
"https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"> 
  </script> 
  <script src= 
"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"> 
  </script> 
<script src= 
"https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.js"> 
  </script>
  
</body> 
</html>
