<!DOCTYPE html> 
<html lang="en"> 
<head> 
<meta charset="utf-8"> 
<meta name="viewport"
		content="width=device-width, 
				initial-scale=1, 
				shrink-to-fit=no"> 
<title> 
	load data from json file 
	into a bootstrap table 
</title> 

	<!-- Include Bootstrap for styling -->
	<link rel="stylesheet"
			href= 
	"https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> 

	<!-- Include the Bootstrap Table CSS 
	for the table -->
	<link rel="stylesheet"
			href= 
	"https://unpkg.com/bootstrap-table@1.16.0/dist/bootstrap-table.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script>
		function MakeRequest(id)
		{
			$.ajax({
				type: "GET",
				url: "/",
				dataType: 'html',
				success: function(data) {
					$('#dashboard').html(
						$('<div />').html(data).find('#dashboard').html()
					);
				}
			});
		}

		const interval = setInterval(function() {
			MakeRequest();
		}, 5000);
	</script>
</head> 
<body> 
	<div id="dashboard">
		{% for vehicle_id,cluster_data_list in active_vehicle_dynamics.items %}
			<div class="card-deck">
				<div class="card">
					<div class="card-header">Vehicle</div>
						<div class="card-body">
							<h5 class="card-title">VIN: {{vehicle_id}}</h5>
						<div class="card-deck">
							{% for agent_name,agent_data in cluster_data_list.0.workload_states.items %}
								<div class="card">
									<div class="card-header">Agent</div>
									<div class="card-body" style="margin: 5px;">
										<h5 class="card-title">{{agent_name}}</h5>
										{% for workload_name,workload_data in agent_data.items %}
											{% for workload_version,workload_version_data in workload_data.items %}
												<div class="card" style="margin: 5px;">
													<div class="card-header">Workload</div>
													<div class="card-body">
														<h5 class="card-title">{{workload_name}}</h5>
														<p class="card-text">Version: {{workload_version}}</p>
														<p class="card-text">State: {{workload_version_data.state}}</p>
														<p class="card-text">Substate: {{workload_version_data.substate}}</p>
													</div>
												</div>
											{% endfor %}
										{% endfor %}
									</div>
								</div>
							{% endfor %}
							<div>
								<div class="card-body">
									<p class="card-text">Speed: {{cluster_data_list.0.signals.speed}}</p>
									<p class="card-text">Displayed speed: {{cluster_data_list.0.signals.speedDisplayed}}</p>
									<p class="card-text">Steering speed: {{cluster_data_list.0.signals.steeringWheelAngleSpeed}}</p>
									<p class="card-text">Steer torque: {{cluster_data_list.0.signals.drvSteerTorque}}</p>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
<div class="container"> 
	<form method="POST" enctype="multipart/form-data" >
		{% csrf_token %}
    	{{file_upload_form.as_p}}
		<button type="submit" value="Submit">Submit</button>
	</form>
</div> 
</body> 
</html>
